<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %>" role="alert">
    <a href="#" class="close" data-dismiss="alert">x</a>
      <p><%= msg %></p>
      <p>★<%= flash_type %></p>
      <hr>
  </div>
<% end %>

<% flash.each do |flash_type, msg| %>
  <p style="color: <%= flash_type == 'notice' ? 'green' : 'red' %>;"><%= msg %></p>
  <hr>
<% end %>
